.detail {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ProjectBody {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ProjectBody .row {
    display: flex;
    gap: 20px;
}

.ProjectBody .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ProjectBody .row>div {
    flex: 1;
}

.textarea {
    border: 1px solid #cccccc;
    outline: none;
    padding: 10px 12px;
    font-size: 1rem;
    border-radius: 5px;
    resize: none;
}

.header {
    background-color: lightskyblue;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: max-content;
    padding: 10px;
    margin-left: 4px;
    cursor: pointer;
}

.addHeader {
    margin-left: 4px;
    border: 3px solid skyblue;
    border-radius: 20px;
    display: flex;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    cursor: pointer;
}

.addHeader:hover {
    border: 3px solid rgb(47, 178, 230);
}

.projectheader {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.addicon {
    color:skyblue;
    font-weight: bold;
    font-size: 30px;
    padding-right: 6px;
    padding-left: 4px;
    cursor: pointer;
}