@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.container {
    margin-top: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 30px;
    padding-top: 0;
    /* width: 2000px; */
}

.heading {
    font-weight: bold;
    color: #239ce2;
    font-size: 4rem;
    font-family: 'Caveat', cursive;
}

.toolbar {
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.colors {
    display: flex;
    gap: 20px;
    padding: 0 30px;
}

.colors .color {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: #239ce2;
}

.colors .active {
    border: 2px solid #000;
}

.toolbar button {
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #239ce2;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.toolbar button svg {
    height: 20px;
    width: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.toolbarbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colortext {
    margin-top: 20px;
    font-size: 1.5rem;
    font-family: 'Caveat', cursive;
}

.download {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.downloadText {
    margin-top: 10px;
    font-size: 1.5rem;
    font-family: 'Caveat', cursive;
}